/**基本格式开始***************/
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
	margin:0px;
	padding:0px;
	font-size:13px;
}
ul {
	list-style:none;
}
img,a img {
	border:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.auto {
	width:960px;
	margin:0 auto;
}
/**基本格式结束***************/
body {
	background: url(../img/body_bg.jpg) repeat-x; 
}
#top {
	height: 100px;
}
#top .nav {
	height: 46px;
	background: url(../img/mainnav_bg.gif) repeat-x;
	margin: 15px 0 0 0;
}
#top .nav .same {
	width:10px;
	height: 46px;
}
#top .nav .left {
	float: left;
}
#top .nav .right {
	float: right;
}
#top .nav .mainNav {
	float: left;
	width: 940px;
}
#top .nav .mainNav .logo {
	float: left;
	display: block;
	width: 163px;
	height: 46px;
}
#top .nav .mainNav ul {
	float: left;
	width: 777px;
	height: 46px;
}
#top .nav .mainNav li {
	float: left;
}
#top .nav .mainNav li a {
	font-size: 14px;
	color: #576367;
	display: block;
	width: 135px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	background: url(../img/main_line.gif) no-repeat;
}
#top .nav .mainNav li a:hover {
	text-decoration: none;
	background: url(../img/green_bg.jpg);
	color: #fff;
}

#top .nav1 .enter {
	width:140px;
	float: right;
	margin: 10px 10px 0 0;
}
#top .nav1 a {
	color: #979693;
	font-size: 10px;
}
#top .nav1 a.cart:hover {
	color: #43b43e;
	text-decoration: none;
}
#top .nav1 .search {
	width: 186px;
	height: 23px;
	background: url(../img/search_03.gif);
	float: right;
	margin: 10px 20px 0 0;
}
#top .nav1 .search .keywords {
	width: 140px;
	height: ;
	border: none;
	margin: 2px 0 0 10px;
}
#top .nav1 .search .btn {
	width: 15px;
	height: 16px;
	background: url(../img/search_biao.gif);
	border: none;
	margin: 3px 0 0 3px;
	cursor: pointer;
}
#main {
	clear: both;
	background: url(../img/main_bg.jpg) repeat-x;
}
#main .auto .img1 {
	border: 2px solid #666666;
	display: block;
}
#main .auto .title {
	height: 40px;
	line-height: 40px;
	background: url(../img/cat_tit.gif) no-repeat left bottom ;
}
#main .auto .title h2 {
	font-family: "微软雅黑";
	font-size: 16px;
	float: left;
}
#main .auto .title a {
	float: right;
	color: #666;
}
#main .auto .box .pct {
	width: 238px;
	height: 302px;
	border: 1px solid #e1e1e1;
	float: left;
}
#main .auto .box .pct img {
	display: block;
	margin: 40px auto 40px auto;
}
#main .auto .box .pct p {
	width: 180px;
	margin: 0 auto;
	line-height: 23px;
}
#main .auto .box .pct a {
	color: #666666;
}
#main .auto .shoplist {
	clear: both;
}
#main .auto .brand {
	clear: both;
	border-bottom: 1px solid #e8e8e8;
	padding: 20px 0 30px 0 ;
}
#bottom {
	text-align: center;
}
#bottom span{
	display: block;
	color: #666666;
	padding: 20px 0 0 0 ;
}
#bottom span a:hover {
	color:blue;
	text-decoration: none;
}
